html {
		height: 100%;
		background-image: 
		linear-gradient(#99E0F8 3%, #FFFFFF 24%, 
			#F0F0F0 100%);
}
body {
	width: 900px;
	height: 900px;
	margin: 0 auto;
	background-image: url(../images/shar-1.png);
	position: relative;
}
.header {
	width: 900px;
	height: 112px;
	position: absolute;
	top: 0px;
}
#header-bg {
	position: absolute;
	top: 0px;
}
#header-title {
	position: absolute;
	left: 295px;
	bottom: 41px;
}
.footer {
	width: 900px;
	height: 100px;
	position: absolute;
	bottom: 0px;
}
#footer-background-grey {
	position: absolute;
	bottom: 3px;
}
#footer-background-white {
	position: absolute;
	bottom: 2px;
}
#footer-background-blue {
	position: absolute;
	bottom: 0px;
}
#copy {
	position: absolute;
	left: 390px;
	bottom: 48px;
}
.content {
	width: 900px;
	height: 685px;
	position: absolute;
	top: 112px;
}
#banner {
	position: absolute;
	left: 22px;
	bottom: 31px;
}
.left {
	width: 299px;
	height: 444px;
	position: absolute;
	left: 22px;
	top: 63px;
	border: 2px solid #99E0F8;
}
#title-left {
	position: absolute;
	top: 23px;
	left: 74px;
}
#text-left {
	position: absolute;
	top: 66px;
	left: 21px;
}
#more-left {
	position: absolute;
	left: 223px;
	bottom: 49px;
}
.right {
	width: 456px;
	height: 464px;
	position: absolute;
	top: 63px;
	left: 416px;
}
#title-right {
	position: absolute;
	top: 0px;
	left: 127px;
}
#text-right-top {
	position: absolute;
	top: 51px;
}
#image {
	position: absolute;
	top: 178px;
	left: 64px;
}
#text-right-down {
	position: absolute;
	top: 355px;
	right: 18px;
}
#more-button {
	position: absolute;
	right: 2px;
	bottom: 0px;
}
#more-right-button {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#more-right-text {
	position: absolute;
	right: 31px;
	bottom: 12px;
}