html {
	background-color: #EEEEEE;
}
body {
	width: 960px;
	height: 1100px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;

}
.header {
	position: absolute;
	left: -35px;
	width: 1030px;
	height: 89px;
}
#logo {
	position: absolute;
	top: 24px;
	left: 34px;
}
#figure4 {
	position: absolute;
	top: 28px;
	right: 36px;
}
.footer {
	position: absolute;
	bottom: 0px;
	left: -35px;
	width: 1030px;
	height: 90px;
}
#footer-buttons {
	position: absolute;
	top: 22px;
	right: 37px;
}
#footer-copy {
	position: absolute;
	top: 21px;
	left: 34px;
}
.middle-wrapper {
	position: absolute;
	top: 89px;
	width: 960px;
	height: 921px;
}
.navigation {
	position: absolute;
	top: 12px;
	left: 21px;
	width: 391px;
	height: 44px;
}
.nav:hover {
	background-color: #EDF8FC;
	border-radius: 10px;
}
#home {
	position: absolute;
	width: 88px;
	height: 44px;
}
#home-button {
	position: absolute;
	left: 23px;
	top: 16px;
}
#products {
	position: absolute;
	left: 106px;
	width: 88px;
	height: 44px;
}
#products-button {
	position: absolute;
	left: 13px;
	top: 16px;
}
#blog {
	position: absolute;
	left: 206px;
	width: 88px;
	height: 44px;
}
#blog-button {
	position: absolute;
	left: 29px;
	top: 15px;
}
#contact {
	position: absolute;
	right: 0px;
	width: 88px;
	height: 44px;
}
#contact-button {
	position: absolute;
	left: 16px;
	top: 15px;
}
.aside {
	position: absolute;
	top: 0px;
	left: 640px;
	width: 320px;
	height: 921px;
	background-color: #EDF8FC;
}
h4 {
	position: absolute;
	top: 68px;
	left: 28px;
}
#aside-title {
	font-family: "plantagenet cherokee regular";
	font-size: 28px;
	font-weight: normal;
}

article>img {
	float: left;
	margin-right: 16px;
}

#article1 {
	width: 272px;
	height: 73px;
	position: absolute;
	left: 28px;
	top: 154px;
}
#aside-article1-p {
	margin-top: 0px;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
}

#article2 {
	width: 272px;
	height: 73px;
	position: absolute;
	left: 28px;
	top: 227px;
}
#aside-article2-p {
	margin-top: 0px;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
}
#article3 {
	width: 272px;
	height: 73px;
	position: absolute;
	left: 28px;
	top: 322px;
}
#aside-article3-p {
	margin-top: 0px;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
}
#article4 {
	width: 272px;
	height: 73px;
	position: absolute;
	left: 28px;
	top: 396px;
}
#aside-article4-p {
	margin-top: 0px;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
}
h3 {
	position: absolute;
	top: 58px;
	left: 18px;
	font-family: "Times New Roman";
	font-size: 27pt;
	font-weight: normal;
}
#text-under-title {
	display: block;
	align-content: center;
	width: 600px;
	font-family: Arial;
	font-size: 14px;
	position: absolute;
	top: 138px;
	left: 19px;
	border: 1px solid green;
}

#slideshow {
	position: absolute;
	top: 303px;
	left: 20px;
	width: 596px;
	height: 259px;
	border: 1px solid #1249C5;
}
#popular-title {
	position: absolute;
	left: 237px;
	top: 580px;
	font-family: 'Times New Roman';
	font-size: 24px;
}
#block1 {
	position: absolute;
	top: 646px;
	left: 19px;
	width: 188px;
	height: 217px;
	border: 1px solid #1249C5;
}
#product-title-block1 {
	position: absolute;
	top: -2px;
	left: 45px;
	font-family: arial;
	font-size: 18px;
}
#bottom-block-text {
	font-family: Arial;
	font-size: 14px;	
	border: 1px solid red;
	position: absolute;
	top: 34px;
	text-align: center;
}
#bottom-button-more {
	position: absolute;
	top: 172px;
	left: 53px;
	width: 83px;
	height: 33px;
	background-image: url(../images/bottom-button-more-light.png);
}
#bottom-button-more:hover {
	position: absolute;
	top: 172px;
	left: 53px;
	width: 83px;
	height: 33px;
	background-image: url(../images/bottom-button-more.png);
}
#block2 {
	position: absolute;
	top: 646px;
	left: 224px;
	width: 188px;
	height: 217px;
	border: 1px solid #1249C5;
}
#product-title-block2 {
	position: absolute;
	top: -2px;
	left: 48px;
	font-family: arial;
	font-size: 18px;
}
#block3 {
	position: absolute;
	top: 646px;
	left: 429px;
	width: 188px;
	height: 217px;
	border: 1px solid #1249C5;
}
#product-title-block3 {
	position: absolute;
	top: -2px;
	left: 45px;
	font-family: arial;
	font-size: 18px;
}
#animal2 {
	position: absolute;
	top: 0px;
	left: 0px;
}