.square {
	background-color: rgb(0,0,0);
	color: white;
	width: 150px;
	height: 150px;
	border: 10px groove blue;
	font-size: 24px;
	text-align: center;
	line-height: 150px;

	margin: 2px;
}
#container {
	width: 522px;
	padding-top: 50px;
	outline: 3px solid #cccccc;
	margin: auto;
}