#content {width: 400px;height: 400px;
	background-color: #abc2ff;position: absolute;
	z-index: 1;left: 200px;top: 100px;}
#first {background-color: #ffadc2;z-index: 4;top: 100px;
	left: 30%;transform: translate(100px);}
#second {background-color: white;z-index: 3;top: 140px;
	left: 35%;transform: rotate(20deg);}
#third {background-color: gray;z-index: 2;top: 180px;
	left: 40%;transform: skewX(20deg);}
.class1 {width: 100px;height: 100px;position: absolute;}